<h3>Detalles del Producto</h3>
<div>
    <div>
        <label><b>ID: </b>{{producto.idProducto}}</label>
    </div>
    <div>
        <label><b>Nombre: </b> {{producto.nombreProducto}}</label>
    </div>
    <div>
        <label><b>Descripción: </b>{{producto.descripcionProducto}}</label>
    </div>
    <div>
        <label><b>Existencia: </b>{{producto.existencia}}</label>
    </div>
    <div>
        <label><b>Precio: </b>{{producto.precio}}</label>
    </div>
    <div>
        <label><b>idCategoria: </b>{{producto.idCategoria.idCategoria}} ({{producto.idCategoria.nombreCategoria}})</label>
    </div>
</div>