<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Actualización de producto</h3>
    <form (ngSubmit)= "onSubmit()" #productoForm = "ngForm">
        <div class="form-group">
            
            <label>Nombre: </label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="producto.nombreProducto" name="nombreProducto" required minlength="5" maxlength="50" #nombre="ngModel" placeholder="Escriba el nombre del producto">
            <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <div *ngIf="nombre.errors['required']">Escriba el nombre, por favor</div>
                <div *ngIf="nombre.errors['minlength']">El nombre debe contener como mínimo 5 caracteres</div>
                <div *ngIf="nombre.errors['maxlength']">El nombre debe contener como máximo 50 caracteres</div>
            </div>
        </div>
        <div class="form-group">
            <label>Descripción: </label>
            <input type="text" class="form-control" id="descripcion" [(ngModel)]="producto.descripcionProducto" name="descripcionProducto" required minlength="5" maxlength="50" placeholder="Escriba la descripción del producto" #descripcion="ngModel">
            <div class="alert alert-danger" *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                <div *ngIf="descripcion.errors['required']">Escriba la descripción, por favor</div>
                <div *ngIf="descripcion.errors['minlength']">La descripción debe contener como mínimo 5 caracteres</div>
                <div *ngIf="descripcion.errors['maxlength']">La descripción debe contener como máximo 50 caracteres</div>
            </div>
        </div>
        <div class="form-group">
            <label>Existencia: </label>
            <input type="text" class="form-control" id="existencia" [(ngModel)]="producto.existencia" name="existencia" required minlength="2" placeholder="¿El producto existe?" #existencia="ngModel">
            <div class="alert alert-danger" *ngIf="existencia.invalid && (existencia.dirty || existencia.touched)">
                <div *ngIf="existencia.errors['required']">Escriba si o no, por favor</div>
                <div *ngIf="existencia.errors['minlength']">La descripción debe contener como mínimo 2 caracteres</div>
            </div>
        </div>
        <div class="form-group">
            <label>Precio: </label>
            <input type="number" class="form-control" id="precio" [(ngModel)]="producto.precio" name="precio" required placeholder="Escriba el precio" #precio="ngModel">
            <div class="alert alert-danger" *ngIf="precio.invalid && (precio.dirty || precio.touched)">
                <div *ngIf="precio.errors['required']">Escriba el precio, por favor</div>
            </div>
        </div>
        <div class="form-group">
            <label>Categoría: </label>
            <select class="form-control" [(ngModel)]="producto.idCategoria" name="categoria" required>
                <option *ngFor="let categoria of categorias" [value]="categoria.idCategoria">{{ categoria.nombreCategoria }}</option>
            </select>
            <div class="alert alert-danger" *ngIf="!producto.idCategoria && (productoForm.submitted)">
                Selecciona una categoría, por favor.
            </div>
        </div>

    <button class="btn btn-success" [disabled]= "!productoForm.form.valid">Guardar</button>
    </form>
</div>
